/* color of all text*/
* {
  color: rgb(111, 61, 46);
}
/* typo of text*/
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
/* typo of booooold text*/
.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}
/*basic thing*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
/*so we get an appropriate size for our character*/
.character-container {
  position: relative;
  width: 300px; 
  height: 400px;
  margin: auto;
}
/*that's for layers*/
.character-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
/*giving index to each layers so they don't clash*/
.layer-1 { z-index: 1; }
.layer-2 { z-index: 2; }
.layer-3 { z-index: 3; }
.layer-4 { z-index: 4; }
.layer-5 { z-index: 5; }
.layer-6 { z-index: 6; }
.layer-7 { z-index: 7; }
.layer-8 { z-index: 8; }
/*eyes layer and specific index, yeah again, why not*/
.eyes-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  pointer-events: none;
}
/*that's for eye animation, it makes it smooooth*/
.eye {
  position: absolute;
  width: 300px;
  height: auto;
  transition: transform 0.2s ease;
  transform-origin: center;
}
/* will make a cursor later :) trust me
.cursor {
.cursor, .hand {
  position: fixed;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: transform .1s;
}

  background: black;
  top: 0;
  width: 20px;
  height: 20px;
  z-index: 999;
}
.hand {
  background: rgb(111, 61, 46);
  top: 50%;
  width: 150px;
  height: 150px;
  z-index: 9999;
  display: grid;
  place-content: center;
  transform: rotate(45deg);
  opacity: 0;

  svg {
    width: 80px;

  }
}
*/

/*this is so we can get beatufiul boxes for our text*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 300px;
  border: solid rgb(111, 61, 46);
  border-radius: 20px;
  background-color: antiquewhite;
  box-shadow: 5px 5px 2.5px;
  margin: 20px;
}
/*btw if you've read all that, check the photoCV.jpg picture, mandatory dog pic */